<!-- <div class="form-container">
  <h2 mat-dialog-title>
    Invest in Loan
  </h2>
  <a class="close-btn" (click)="dialogRef.close(false)">x</a>
  <mat-dialog-content>
    <h3>{{ data.title }}</h3>
      <form [formGroup]="form">
        <mat-form-field appearance="standard">
            <input autocomplete="off" matInput placeholder="Enter your amount" formControlName="investedAmount">
        </mat-form-field>
      </form>
  
  <mat-dialog-actions>
    <app-button 
      [disabled]="form.invalid" 
      (click)="submit(form.value)">invest</app-button>
  </mat-dialog-actions>
  </mat-dialog-content>
</div> -->

<div class="form-container">
  <h2 class="header">
    Invest in Loan
  </h2>
  <a class="close-btn" (click)="dialogRef.close(false)">x</a>
  <div>
    <h3>{{ data.title }}</h3>
      <form [formGroup]="form">
            <input type="number" autocomplete="off" placeholder="Enter your amount" formControlName="investedAmount">
      </form>
  
  <div>
    <app-button 
      [disabled]="form.invalid" 
      (click)="submit(form.value)">invest</app-button>
  </div>
</div>
</div>

