<div class="container">
  <h2 class="header">
    Invest in Loan
  </h2>
  <a (click)="close()"><span class="close-btn"></span></a>
  <div class="loan-data">
    <h3 class="title">{{ data.title }}</h3>
    <h4 class="details">Amount available: ${{ data.available | number: '2.' }}</h4>
    <h4 class="details">Loan ends in: {{ data.term_remaining | date:'m'}} month </h4> 
  </div>
  <h2 class="form-header">Investment amount</h2>
  <div class="form-control">
    <form [formGroup]="form">
      <input 
        type="number" 
        autocomplete="off" 
        placeholder="Enter your amount" 
        formControlName="investedAmount">
    </form>
    <app-button 
      [disabled]="form.invalid || data.available < form.value.investedAmount" 
      (click)="submit(form.value)">invest</app-button>
  </div>
</div>
